@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Jost', sans-serif;
	color: #4d5053;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'DM Serif Display', serif;
	font-weight: 400;
	color: #292f36;
}

a {
	text-decoration: none;
	color: #292f36;
}

.container {
	max-width: 1240px;
	width: 100%;
	margin: 0 auto;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0 50px;
}

.logo__link {
	font-family: 'DM Serif Display', serif;
	font-size: 40px;
	line-height: 125%;
	display: flex;
	align-items: center;
}

.logo__img {
	margin-right: 10px;
}

.nav__list {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 45px;
}

.nav__link {
	font-size: 20px;
	line-height: 125%;
}

.header__menu {
	display: flex;
	align-items: center;
	gap: 50px;
}

.header__links {
	display: flex;
	align-items: center;
	gap: 30px;
}

.hero {
	background: url('./img/Image.jpg') no-repeat center center;
	padding: 203px 0 447px;
}

.hero__title {
	font-size: 80px;
	max-width: 590px;
	line-height: 125%;
}

.hero__desc {
	font-size: 21px;
	max-width: 490px;
	line-height: 150%;
	margin-top: 20px;
}

.btn {
	background: #406636;
	border: none;
	border-radius: 18px;
	padding: 26px 42px;
	font-size: 18px;
	color: #fff;
	line-height: 125%;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 40px;
}

.brand {
	margin-top: 90px;
}

.brand__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.blog {
	margin-top: 90px;
}

.blog__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.blog__box {
	text-align: center;
	padding: 32px 0;
	max-width: 358px;
	width: 100%;
}

.blog__subtitle {
	font-size: 26px;
	line-height: 125%;
}

.blog__desc {
	font-size: 22px;
	line-height: 150%;
	margin-top: 20px;
}

.blog__link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	margin-top: 32px;
	font-size: 18px;
}
.estimate {
	margin-top: 150px;
}

.estimate__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 95px;
}

.estimate__title {
	font-size: 50px;
	line-height: 125%;
	max-width: 420px;
}

.estimate__desc {
	font-size: 22px;
	line-height: 150%;
	margin-top: 33px;
	max-width: 469px;
}

.estimate__phone {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-top: 45px;
}

.phone__info_text {
	font-size: 22px;
	line-height: 150%;
}

.text__strong {
	font-weight: bold;
}
